<html>
 <head>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
   <link rel="stylesheet"  type="text/css"  href="{{url_for('static', filename='styles.css')}}" >
   <title> Add an Item to {{ cat.name }} </title>
 </head>
 <body>
   <nav>
        <div class="page_nav">
            <a href="{{url_for('showCategories')}}" > Catalog App </a>
        </div> 
        {% if user_id != None %} 
        <div id="logout">
          <a href="{{url_for('gdisconnect')}}">
           <button>logout</button>
          </a>
        </div>
        {% else %}                  
          <div id="login">
           <a href="{{url_for('showLogin')}}">
            <button>login</button>
           </a>
          </div> 
        {% endif %}
         <div class="clear"></div>
     </nav>
     <div class="contect_add " style="text-align: center;">
        <h1 style="color: #8e0c74;
                   border: 2px;
                   background: white;
                   border: 5px solid;
                   padding: 10px;
                   font-weight: bold;
                   width: 20%;
                   margin-left: 39%;">{{ cat.name }}</h1><br>
        <form action="{{ url_for('addItemCat', cat_id=cat.id) }}" method="POST">
	  <h3 style="margin-bottom: 1px;">ItemName:</h3>
	  <input type="text" name="name" style="width:400px;height:35px"/><br>
	  <h3 style="margin-bottom: 1px;">Description:</h3>
	  <textarea name="description" ></textarea><br><br>
	  <input type="submit" value="Add" class="design_buttom_1">
          <a style="text-decoration: none;"
             href="{{ url_for('show_items_for_category',cat_id=cat.id) }}">
            <buttom class="design_buttom_2">Cancel</buttom>
         </a>
	</form> 
     </div>
 </body>
</html>
